body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bs-example {
	font-family: sans-serif;
	position: relative;
	margin: 100px;
}
.typeahead, .tt-query, .tt-hint {
	border: 2px solid #CCCCCC;
	border-radius: 8px;
	font-size: 22px; /* Set input font size */
	height: 30px;
	line-height: 30px;
	outline: medium none;
	padding: 8px 12px;
}
.typeahead {
	background-color: #FFFFFF;
}
.typeahead:focus {
	border: 2px solid #0097CF;
}
.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999999;
}
.tt-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 340px;
}
.tt-suggestion {
	font-size: 15px;  /* Set suggestion dropdown font size */
	padding: 3px 10px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.tt-suggestion:hover, .tt-cursor {
	cursor: pointer;
	background-color: #0097CF;
	color: #FFFFFF;
}

.tt-suggestion p {
	margin: 0;
}
ul.alert {
	list-style-type: none;
}
.profile {
	border-radius: 50%;
  }
.sb-topnav {
	padding-left: 15px !important;
}
.osahan-card p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.osahan-card .img-container {
	height: 274px;
	text-align: center;
}
.osahan-card .img-container img {
	max-height: 100%;
}

.box-container {

}

.table tr:first-child td {
	border-top: none;
}

.cleared {
	/* Blue */
	filter: invert(9%) sepia(96%) saturate(6955%) hue-rotate(238deg) brightness(113%) contrast(120%);

}
.cleared100 {
	/* Light Green */
	filter: invert(41%) sepia(85%) saturate(773%) hue-rotate(73deg) brightness(91%) contrast(84%);
}
.game-search input.form-control {
	width: 300px;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}