{% extends "themed_layout.html" %}
{% block content %}

<div class="container min-vh-100 mt-5">
    <div class="justify-content-center align-items-center">
        <form class="col-12 needs-validation" method="post" novalidate>
            {{ form.hidden_tag() }}
            {% if form.errors %}
            {{ form.errors }}
            {% endif %}
            <div class="form-group">
                <div class="form-group">
                    {{ form.status.label }}<br>
                    {{ form.status(class='form-control', placeholder='Status') }}

                </div>
                {% if has_platforms %}
                <div class="form-group">
                    {{ form.platform.label }}<br>
                    {{ form.platform(class='form-control', placeholder='Platform') }}
                
                </div>
                {% endif %}
                <div class="form-group mt-2">{{ form.submit(class='btn btn-primary') }}</div>
            </div>
        </form>
    </div>
</div>
{% endblock %}


