{% extends "themed_layout.html" %}
{% block content %}
    <div class="container-fluid-fluid">
        <section class="py-5 account-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="position-sticky">
                            {% include 'profile_sticky.html' %}
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="d-flex align-item-center title mb-3">
                            <h5 class="m-0 font-weight-normal">Edit Account</h5>
                        </div>
                        <form method="post" novalidate>
                            <div class="p-4 bg-dark">
                                <div class="row gutter-1">
                                    <div class="col-md-6">
                                        {{ form.hidden_tag() }}
                                        <div class="form-group">
                                            
                                            {{ form.username.label }}<br>
                                            {{ form.username(size=32, class='form-control form-control-lg', placeholder='Enter your new username', readonly=True, disabled=True) }}
                                            {% for error in form.username.errors %}
                                            <h6 class="text-danger">[{{ error }}]</h6>
                                            {% endfor %}
                            
                                        </div>
                                        <div class="form-group">
                                            {{ form.about_me.label }}<br>
                                            {{ form.about_me(cols=50, rows=4, class='form-control form-control-lg', placeholder='About me') }}
                                            {% for error in form.about_me.errors %}
                                            <h6 class="text-danger">[{{ error }}]</h6>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-right mt-4">
                                <div class="form-group mt-2">{{ form.submit(class='btn btn-dark') }}</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>    
{% endblock %}