{% extends "themed_layout.html" %}

{% block content %}
<div class="container-fluid-fluid">
    <!-- Navigation -->
    <section class="py-5 store-single-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2">
                    <div class="position-sticky">
                        <div>
                            <img class="img-fluid" src="{{game.get_image_url()}}" alt="">
                        </div>
                        <h3 class="mt-4 mb-3">{{ game.title }}
                        </h3>
                        </p>
                        {% if current_user.is_authenticated %}
                        <div class="d-flex mb-4">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-warning col-12" data-toggle="modal"
                                data-target="#exampleModal">
                                <i class="feather-download-cloud mr-1"></i> Add Game To List
                            </button>
                        </div>
                        {% else %}
                        <div>
                            <a href="{{url_for('login')}}">Login </a> to add this game to your backlog
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-10">
                    {% if game.summary %}
                        <div class="row">
                            <div class="col-lg-12">
                                <h5 class="mb-3 mt-4"> Description</h5>
                                <div class="mb-3 p-3 bg-dark">
                                    {{game.summary}}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-lg-6">
                            <h5 class="mb-3 pt-3"> About Game</h5>
                            <div class="box-container h-75">
                                <div class="p-4 bg-dark h-100">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="list-icon mb-3">
                                                <p class="text-muted mb-1">Developer</p>
                                                {% if game.developer %}
                                                <p class="text-dark">{{ game.developer }}</p>
                                                {% else %}
                                                <p class="text-dark">N/A</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="list-icon mb-3">
                                                <p class="text-muted mb-1">Publisher</p>
                                                {% if game.publisher %}
                                                <p class="text-dark">{{ game.publisher }}</p>
                                                {% else %}
                                                <p class="text-dark">N/A</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="list-icon mb-3">
                                                <p class="text-muted mb-1">Release Date</p>
                                                <p class="text-dark">{{ game.initial_release_date.strftime("%B %d, %Y")
                                                    }}</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="list-icon mb-3">
                                                <p class="text-muted mb-1">Platform</p>
                                                <div class="text-dark">{{ platforms }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <h5 class="mb-3 pt-3"> Recent Players</h5>
                            <div class="box-container h-75">
                                <div class="p-3 bg-dark h-100">
                                    <table class="table">
                                        <tbody>
                                            {% if recently_added_games == [] %}
                                                No players found...
                                            {% endif %}
                                            {% for recent_u_game in recently_added_games %}
                                            <tr>
                                                <td>
                                                    <img class="rounded-circle" src="{{ recent_u_game.user.avatar(30) }}">
                                                    <a href="{{url_for('user', username=recent_u_game.user.username)}}">{{recent_u_game.user.username}}</a>
                                                </td>
                                                <td>{{recent_u_game.platform.title}}</td>
                                                <td>
                                                    {% with u_game = recent_u_game %}
                                                        {% include 'clear_status_display.html' %}
                                                    {% endwith %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>            
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <h5 class="mb-3 mt-3"> Recent Notes </h5>
                            <div class="box-container h-75">
                                <div class="p-3 bg-dark h-100">
                                    <table class="table">
                                        <tbody>
                                            {% if recently_added_notes == [] %}
                                                No notes found...
                                            {% endif %}
                                            {% for recent_u_game in recently_added_notes %}
                                            <tr>
                                                <td>
                                                    <img class="rounded-circle" src="{{ recent_u_game.user.avatar(30) }}">
                                                    <a href="{{url_for('user', username=recent_u_game.user.username)}}">{{recent_u_game.user.username}}</a>
                                                </td>
                                                <td class="game-note-cell">{{recent_u_game.note|truncate(306, true)}}</td>
                                            </tr>

                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h5 class="mb-3 mt-3"> Similar Games </h5>
                            <div class="box-container">
                                <div class="p-3 bg-dark h-100">
                                    {% for key, value in game.similar_games.items() %}
                                    <a href="{{url_for('get_game', api_id=key)}}">{{ value }}</a> <br>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</div>
{% if current_user.is_authenticated %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add game To List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="col-12 needs-validation" method="post" novalidate>
                <div class="modal-body">
                    {{ form.hidden_tag() }}
                    {% if form.errors %}
                    {{ form.errors }}
                    {% endif %}
                    <div class="form-group">
                        {{ form.note.label }}<br>
                        {{ form.note(class='form-control', placeholder='Write a note about this game') }}

                    </div>
                    <div class="form-group">
                        {{ form.status.label }}<br>
                        {{ form.status(class='form-control', placeholder='Status') }}

                    </div>
                    {% if has_platforms %}
                    <div class="form-group">
                        {{ form.platform.label }}<br>
                        {{ form.platform(class='form-control', placeholder='Platform') }}

                    </div>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    {{ form.submit(class='btn btn-primary') }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}