{% extends "themed_layout.html" %}

{% block content %}
<div class="container-fluid-fluid">
    <!-- Navigation -->
    <section class="py-5 store-single-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="position-sticky">
                        <div class="gradient-1 p-4 mb-1">
                            <img class="img-fluid" src="img/g-logo.png" alt="">
                        </div>
                        <h3 class="mt-4 mb-3">{{ game.title }}
                        </h3>
                        </p>
                        <div class="d-flex mb-4">
                            <div class="btn btn-warning col-12"><i
                                    class="feather-download-cloud mr-1"></i> Add</div>
                        </div>
                        <div class="bg-dark p-3 sidebar-widget mb-4">
                            <div class="nav nav-pills flex-column lavalamp">
                                <a class="nav-link" href="#about"><i class="feather-home mr-1"></i>
                                    About Game</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="carouselExampleIndicators" class="carousel slide"
                                data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0"
                                        class="active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner" role="listbox">
                                    <!-- Slide One - Set the background image for this slide in the line below -->
                                    <div class="carousel-item active">
                                        <div class="osahan-slider">
                                            <div class="bg-dark">
                                                <div class="row align-items-center">
                                                    <div class="col-lg-12">
                                                        <img class="img-fluid" src="img/slider/5.jpg"
                                                            alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Slide Two - Set the background image for this slide in the line below -->
                                    <div class="carousel-item">
                                        <div class="osahan-slider">
                                            <div class="bg-dark">
                                                <div class="row align-items-center">
                                                    <div class="col-lg-12">
                                                        <img class="img-fluid" src="img/slider/6.jpg"
                                                            alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Slide Three - Set the background image for this slide in the line below -->
                                    <div class="carousel-item">
                                        <div class="osahan-slider">
                                            <div class="bg-dark">
                                                <div class="row align-items-center">
                                                    <div class="col-lg-12">
                                                        <img class="img-fluid" src="img/slider/7.jpg"
                                                            alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators"
                                    role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators"
                                    role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <div class="pt-4" id="about"></div>
                            <h5 class="mb-3 mt-4"> About Game</h5>
                            <div class="p-5 bg-dark">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4">
                                        <div class="list-icon mb-3">
                                            <p class="text-muted mb-1">Developer</p>
                                            {% if game.developer %}
                                            <p class="text-dark">{{ game.developer }}</p>
                                            {% else %}
                                            <p class="text-dark">N/A</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="list-icon mb-3">
                                            <p class="text-muted mb-1">Publisher</p>
                                            {% if game.publisher %}
                                            <p class="text-dark">{{ game.publisher }}</p>
                                            {% else %}
                                            <p class="text-dark">N/A</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="list-icon mb-3">
                                            <p class="text-muted mb-1">Release Date</p>
                                            <p class="text-dark">{{ game.initial_release_date.strftime("%B %d, %Y") }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4">
                                        <div class="list-icon mb-3">
                                            <p class="text-muted mb-1">Genre</p>
                                            <p class="text-dark">Shooter, Multiplayer, Single Player
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="list-icon mb-3">
                                            <p class="text-muted mb-1">Rating</p>
                                            <p class="text-dark">TEEN</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="list-icon mb-3">
                                            <p class="text-muted mb-1">Platform</p>
                                            {% for platform in game.platforms %}
                                            <p class="text-dark">{{ platform.title}}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}