{% extends "themed_layout.html" %}
{% block content %}
    <main>
        <div class="container-fluid-fluid">
            <!-- Navigation -->
            <section class="pb-5">
                <div class="container-fluid px-0">
                    <div class="row m-0">
                        <div class="col-lg-12 px-0">
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active">
                                        <div class="osahan-slider">
                                            <div class="bg-dark">
                                                <div class="row align-items-center">
                                                    <div class="col-lg-8 px-0">
                                                        <img class="img-fluid" src="img/slider/6.jpg" alt="">
                                                    </div>
                                                    <div class="col-lg-4 px-0">
                                                        <div class="p-5">
                                                            <small class="text-muted">Welcome to</small>
                                                            <h3 class="my-4">Project Cleared
                                                            </h3>
                                                            <p class="font-weight-normal mb-4 text-muted">Track your gaming backlog and compete to complete the most games!
                                                            </p>
                                                            <a href="register" class="btn btn-primary">Get Started</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="pb-5">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="gradient-1 gradient-block h-100">
                                <div class="row align-items-center">
                                    <div class="col-lg-12">
                                        <div class="p-5">
                                            <h1 class="mb-4 text-white">Global Stats</h1>
                                            <h5 class="font-weight-normal text-white-50 mb-4"><i class="feather-users mr-1"></i> {{user_count}} Users </h5><hr>
                                            <h5 class="font-weight-normal text-white-50 mb-4"><i class="feather-plus mr-1"></i> {{added_games_count}} Games Added </h5><hr>
                                            <h5 class="font-weight-normal text-white-50 mb-4"><i class="feather-check mr-1"></i> {{status_info["CLEARED"]}} Games Completed </h5><hr>
                                            <h5 class="font-weight-normal text-white-50 mb-4"><i class="feather-check-circle mr-1"></i> {{status_info["FULL_CLEARED"]}} Games Fully Completed </h5><hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="p-5 pb-lg-4 bg-dark">
                                <div class="d-flex align-item-center title mb-3">
                                    <h5 class="m-0 font-weight-normal">Popular Games</h5>
                                    <a href="store.html" class="btn btn-sm btn-outline-dark ml-auto">VIEW MORE</a>
                                </div>
                                <div class="row">
                                    {% for game in top_games %}
                                    <div class="col-lg-3">
                                        <div class="osahan-card">
                                            <a href="{{url_for('display_game', id=game['game_id'])}}">
                                                <img class="img-fluid" width="175" src="{{Game.generate_image_url(game['image_id'])}}" alt="">
                                                <div class="osahan-card-body mt-3">
                                                    <h6 class="text-dark mb-1">{{game["title"]}}</h6>
                                                    <p class="m-0 text-muted">{{game["count"]}} Player{{"s" if game["count"] > 1}} </p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    {% endfor %}  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}
