<div class="gradient-1 inner-profile text-white p-5 widget text-center">
   <img class="img-profile rounded-circle" src="{{ user.avatar(30) }}">
   <h5 class="mb-1 mt-3">{{ current_user.username }}</h5>
</div>
<div class="bg-dark p-3 sidebar-widget mb-4">
   <div class="nav nav-pills flex-column lavalamp">
      <a class="nav-link" href="account.html"><i class="feather-edit mr-1"></i> Edit
         Account</a>
      <a class="nav-link" href="favorite.html"><i class="feather-heart mr-1"></i>
         Games</a>
      <a class="nav-link" href="coupons.html"><i class="feather-user mr-1"></i>
         About Me</a>
   </div>
</div>
