<div class="gradient-1 inner-profile text-white p-5 widget text-center">
   <img class="img-profile rounded-circle" src="{{ user.avatar(30) }}">
   <h5 class="mb-1 mt-3">{{ user.username }}</h5>
</div>
<div class="bg-dark p-3 sidebar-widget mb-4">
   <div class="nav nav-pills flex-column lavalamp">
      {% if current_user.username == user.username %}
      <a class="nav-link" href="{{url_for('edit_profile')}}"><i class="feather-edit mr-1"></i>
         Edit Account</a>
      {% endif %}
      <a class="nav-link" href="{{url_for('user', username=user.username)}}"><i class="feather-user mr-1"></i> Account</a>


   </div>
</div>
