<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.svg') }}">
      <title>Project Cleared</title>
      <!-- Feather Icon-->
      <link href="{{ url_for('static', filename='css/feather.css') }}" rel="stylesheet" type="text/css">



      <!-- Bootstrap core CSS -->
      
      <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='css/jqautocomplete.css') }}" rel="stylesheet">
      
      <!-- Custom styles for this template -->
      <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
      <link href="{{ url_for('static', filename='css/themed_styles.css') }}" rel="stylesheet" />
      <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
   </head>
   <body class="sb-nav-fixed">
      <nav class="sb-topnav navbar navbar-expand navbar-light shadow-sm osahan-nav-top bg-white">
         <!-- Navbar Search-->
         <form class="d-none d-sm-inline-block form-inline mr-auto my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group game-search">
               <input type="text"
                      autocomplete="off" 
                      class="form-control shadow-none border-0" 
                      placeholder="Search..." 
                      aria-label="Search" 
                      aria-describedby="basic-addon2" 
                      id="autocomplete">
               <div class="input-group-append">
                  <button class="btn btn-dark" type="button">
                  <i class="feather-search"></i>
                  </button>
               </div>
            </div>
         </form>
         <!-- Navbar-->
         <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown no-arrow d-sm-none">
               <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <i class="feather-search mr-2"></i>
               </a>
               <!-- Dropdown - Messages -->
               <div class="dropdown-menu dropdown-menu-right p-3 shadow-sm animated--grow-in" aria-labelledby="searchDropdown">
                  <form class="form-inline mr-auto w-100 navbar-search">
                     <div class="input-group">
                        <input type="text" class="form-control border-0 shadow-none" placeholder="Search people, jobs and more..." aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                           <button class="btn" type="button">
                           <i class="feather-search"></i>
                           </button>
                        </div>
                     </div>
                  </form>
               </div>
            </li>

            <!-- Nav Item - User Information -->
            {% if not current_user.is_authenticated %}
            <li class="nav-item active">
               <a class="nav-link" href="{{url_for('login')}}">Login</a>
            </li>
            <li class="nav-item active">
               <a class="nav-link" href="{{url_for('register')}}">Register</a>
            </li>
            {% endif %}

            <li class="nav-item dropdown no-arrow ml-1 osahan-profile-dropdown">
               <a class="nav-link dropdown-toggle pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               {% if current_user.is_authenticated %}
               <img class="img-profile rounded-circle" src="{{ current_user.avatar(30) }}">
               {% endif %}
               </a>
               <!-- Dropdown - User Information -->
               {% if current_user.is_authenticated %}
               <div class="dropdown-menu dropdown-menu-right shadow-sm">
                  <div class="p-3 d-flex align-items-center">
                     <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="{{ current_user.avatar(30) }}" alt="">
                        <div class="status-indicator bg-success"></div>
                     </div>
                     <div class="font-weight-bold">
                        <div class="text-truncate">{{ current_user.username }}</div>
                     </div>
                  </div>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{{url_for('user', username=current_user.username)}}"><i class="feather-edit-2 mr-1"></i> My Account</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{{url_for('logout')}}"><i class="feather-log-out mr-1"></i> Logout</a>
               </div>
               {% endif %}
            </li>
         </ul>
      </nav>

      <main>
         {% with messages = get_flashed_messages(with_categories=true) %}
         {% if messages %}
         {% set category = messages[0][0] %}
         <ul class = "alert alert-{{category}} alert-dismissible">
            {% for category, message in messages %}
               <li>{{message}}</li>
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </ul>
         {% endif %}
         {% endwith %}
         
         {% block content %}
         {% endblock %}
         <section class="py-4 osahan-copyright">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-xl-12">
                     <div class="d-flex align-items-center justify-content-between">
                        <p class="m-0 text-muted">Copyright © Project Cleared 2021 | Credit to <a href="https://www.frozenbyte.com/" target="_blank">Frozenbyte</a> for the images</p>

                     </div>
                  </div>
               </div>
            </div>
        </section>
      </main>

      <!-- Bootstrap core JavaScript -->
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/typeahead.bundle.min.js') }}"></script>    
      <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
      <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>


   </body>
</html>