{% extends "themed_layout.html" %}
{% block content %}
    <div class="container-fluid-fluid">
        <section class="py-5 account-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="position-sticky">
                            {% include 'profile_sticky.html' %}
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="d-flex align-item-center title mb-3">
                            <h5 class="m-0 font-weight-normal">About Me</h5>
                        </div>
                        <div class="mb-3 p-3 bg-dark">{{user.about_me}}</div>
                        <div class="d-flex align-item-center title">
                            <h5 class="m-0 font-weight-normal">Games ({{user_game|length}})</h5>
                        </div>
                        <div>
                            <div class="row">
                                {% for u_game in user_game %}
                                <div class="col-lg-2">
                                    <div class="osahan-card mt-3">
                                       <a href="{{url_for('display_game', id=u_game.game.id)}}">
                                          <img class="img-fluid" src="{{u_game.game.get_image_url()}}" alt="">
                                          <div class="osahan-card-body mt-3">
                                             <h6 class="text-dark mb-1">{{u_game.game.title}}</h6>
                                          </div>
                                       </a>
                                       <p class="m-0 text-muted">{{u_game.platform.title}}</p>
                                       <div class="row">
                                           <div class="col-8">
                                              {% if u_game.clear_status.name == u_game.clear_status.FULL_CLEARED.name %}
                                              <p class="m-0 text-muted cleared100"> {{u_game.clear_status}} <img src="{{url_for('static', filename='icons/gamepad.svg')}}"></p>
                                              {% elif u_game.clear_status.name == u_game.clear_status.CLEARED.name %}
                                              <p class="m-0 text-muted cleared"> {{u_game.clear_status}} <img src="{{url_for('static', filename='icons/gamepad.svg')}}"></p>
                                              {% else %}
                                              <p class="m-0 text-muted playing"> {{u_game.clear_status}} <img src="{{url_for('static', filename='icons/gamepad.svg')}}"></p>
                                              {% endif %}
                                           </div>
                                           <div class="col-4 text-right">
                                              <a data-toggle="modal"
                                                 data-game-name="{{u_game.game.title}}"
                                                 data-status-id="{{u_game.clear_status.name}}"
                                                 data-platform="{{u_game.platform.title}}" 
                                                 data-user-game-id="{{u_game.id}}" 
                                                 data-target="#edit-game" class="edit-game" href="javascript:;" title="Modify Clear Status"><i class="feather-edit mr-1"></i>
                                                </a>
                                           </div> 
                                       </div>                                      
                                    </div>
                                </div>
                                {% endfor %}                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>    
    <div class="modal fade" id="edit-game" tabindex="-1" role="dialog" aria-labelledby="edit-gameLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="edit-gameLabel">Edit game info</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form class="col-12 needs-validation" method="post" action="{{url_for('edit_game_info')}}" novalidate>
                <div class="modal-body">
                    {{ form.hidden_tag() }}
                    {% if form.errors %}
                    {{ form.errors }}
                    {% endif %}
                    <div class="form-group">
                        <div class="form-group">
                            <label>Game</label><br>
                            <div id="game-name"><input type="text" class="form-control" readonly disabled></div>
                        </div>
                        <div class="form-group">
                            {{ form.clear_status.label }}<br>
                            {{ form.clear_status(id="status", class='form-control', placeholder='Status') }}
                        </div>
                        <div class="form-group">
                            <label>Platform</label><br>
                            <div id="platform"><input type="text" class="form-control" readonly disabled></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    {{ form.submit(class='btn btn-primary') }}
                </div>
            </form>
          </div>
        </div>
      </div> 
{% endblock %}